@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html
{
    min-height: 100%;
    font-size:14px;
     scroll-behavior: smooth;
}

body {
    height: 100%;
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a
{
    color: var(--color-green);
    transition: all 0.2s ease;
}
a:hover
{
    color: var(--color-aqua);
}
/* Admin */ 
.admin-title-section
{
    background:var(--color-grey);
}

/* */ 
/*  TYPOGRAPHY  */
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5, h6
{
    font-family: 'Playfair Display', serif;
    line-height:1em;
    margin: 0;
    padding: 0;
}

h1, .h1
{
    font-size:4rem;
}

h1.title
{
    font-size: 2rem;
}

h2
{
    font-size:3rem;
}
h3
{
    font-size:3rem; 
}
h4
{
    font-size:1.5rem;
    font-weight: 700;
}
h5
{
    font-size:1.25rem;
    font-weight: 700;
}
h6
{
    font-size:0.875rem;
font-weight: 400;
}
p
{
    font-weight:300;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
}

p span
{
    font-weight:700;
}

/* Layout */
.header-container, .main-container, .footer-container
{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.footer-container
{
    padding: 2rem 0 ;
}
.wrapper
{
width: 66%;
height: auto;
overflow: hidden;
margin: 0 auto;
padding: 0;
}
.main
{
    padding: 2rem 3%;
}

article, .title
{
float: left;
width: 66%;
}

aside, nav
{
    float: right;
    width: 33%;
}

header, section
{
    padding:0 1%;
}
section
{

}
.clearfix
{
    clear: both;
}

/* Detail */
.title
{
    padding: 1rem 0;
}
aside
{
    border-radius: 1rem;
-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.44);
box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.44);
}
aside h3, aside p
{
    padding: 1rem 2rem;
}
/* Color */
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5, h6 
{
    color: #003f5c;
}
.header-container
{
    background-color: #003f5c;
}
aside
{
    background-color: #f7aeba;
}
.title
{
    color: #f7aeba;
}
.footer-container
{
    background-color: #f6d73e;
}
/* */
nav {padding: 0; margin: 0;}
nav ul{display:table; float:right; padding: 0; margin: 0;}
nav ul li{float:left; list-style: none; }
nav ul li:last-child{padding-right:0px;}
nav ul li a{color:#f6d73e; font-size:1rem; padding: 1rem 1rem; display:inline-block; transition: all 0.5s ease 0s;}
nav ul li a:hover{color:#fde428; transition: all 0.5s ease 0s;}


/* */
/*--------------------------------------------------------------
19.0 Media Queries
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
article, aside, .title, nav, nav ul, nav ul li
{
    float: none;
    width: 100%;
    margin: 0 auto;
}
.wrapper
{
    width: 90%;
}
.title, nav, nav ul
{
    margin: 0 auto;
    text-align: center;
}
section
{
    margin: 4rem 0;
}

}