/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-body:'Work Sans', sans-serif;
   --font-heading:'Work Sans', sans-serif;

  
  --font-weight-normal: 400;
  --font-weight-bold: 700;

   --color-neutral-lighter:#f0f0f1;
   --color-neutral-light:#eec76c;
   --color-neutral-mediumer:#b4b4be;
   --color-neutral-medium:#83838f;
   --color-neutral-dark:#3b3a38;

    --color-main-light: #d5fffe;
    --color-main-medium: #1acfc8;
    --color-main-dark: #1e5452;

   --color-white:#fff;
   --color-black:#000;

   --header-height:3rem;
}

body {
  margin: 0;
  font-size: 100%;
  font-family: var(--font-body);
  font-weight: var(--font-weight-normal);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-normal);
}




a {
   color:inherit;
   font-weight:bold;
   text-decoration:none;
}
   a:hover {
      text-decoration: underline;
   }





/* LAYOUT CLASSES */

.container {
   max-width:1000px;
   margin-left: auto;
   margin-right: auto;
}
.hidden { display:none; }
.overscroll {
   height:100%;
   width:100%;
   overflow:auto;
}



.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex:none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }











/* FORMS */

.form-control {
    margin-top: 1em;
    margin-bottom: 1em;
}
.ui-mobile label.form-label {
    margin: 0 1em 0.5em;
    font-size: 0.8em;
    color: var(--color-neutral-mediumer);
}
.form-input {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
    border-radius: 0.2em;
    font: inherit;
    outline: 0;
}
.form-button {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-neutral-light);
    padding: 0.5em 1em;
    border-radius: 0.2em;
    font: inherit;
    outline: 0;
    text-align:center;
}
.form-button:hover {
   text-decoration:none;
   cursor:pointer;
}

.hotdog {
   width: 100%;
   display: inline-flex;
   background-color: var(--color-neutral-lighter);
   padding: 0.5em 1em;
   border-radius: 2em;
   line-height:1;
}
[data-role="header"]>.hotdog {
   padding:0.7em 1em;
}
.hotdog>input {
   flex:1;
   border-width:0;
   border-radius:0;
   background-color:transparent;
   font:inherit;
   color:inherit;
   outline:0;
   padding:0;
}




/* PAGE LAYOUTS */
.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   width:100%;
   height:100%;
   top:0;
   left:0;
}
[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}

.ui-header{
   flex: none;
   height:var(--header-height);
   line-height:var(--header-height);
   border-width:0;
   background-color:var(--color-neutral-light);
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   position:relative;
   overflow:hidden;
}


.ui-footer {
   flex: none;
   height:var(--header-height);
   line-height:var(--header-height);
   border-width:0;
   background-color:#ba2b23;
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   position:relative;
   overflow:hidden;
}

.ui-header .ui-title {
   margin:0;
   padding:0;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   text-align:center;
   z-index:1;
}






/* NAV */
.ui-footer ul,
.ui-header ul {
   position:relative;
   z-index:2;
   margin:0;
   padding:0 1em;
   display:flex;
   list-style-type:none;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui-footer a {
  text-transform: uppercase;
  color: var(--color-neutral-medium);
  font-weight: var(--font-weight-medium);
  color: white;
  display: block;
}

.ui-header a {
   padding:0 1em;
   display:block;
}
.ui-footer a:hover,
.ui-header a:hover {
   text-decoration:none;
}






/* PAGE SPECIFICS */
#signin-page [data-role='main'] {
   display:flex;
   flex-direction:column;
}
#signup-page [data-role='main'] {
   display:flex;
   align-items:center;
   justify-content:center;
}






.map {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}
.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
}
.ui-header .icon {
  vertical-align:middle;
}








/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    z-index:10;
    pointer-events:none;
}
.modal.active {
    opacity: 1;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}
.modal.active .modal-back {
   pointer-events:initial;
}



/* MODAL POPUP */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    width: 80vmin;
    transition:all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
   pointer-events:initial;
}
.modal-head,
.modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
}
.modal-body {
    background-color: var(--color-white);
    padding: 1em;
}
.modal-head h1 {
  font-size:1em;
  margin:0;
}





/* MODAL DRAWER */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow:0 0 5px rgba(0,0,0,0.15);
}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width:70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   width: 100%;
   height:30vh;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;
}


.modal-drawer .modal-body {
   flex:1 1 100%;
}




.modal-toast {
   position: absolute;
   width: 50%;
   min-height: var(--header-height);
   background-color: #fff5a8;
   border-radius: 0.2em;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
   left: 50%;
   text-align: center;
   padding: 1em;
   transition:all 0.3s;
}
.modal-toast.top {
   top:1em;
   transform:translate(-50%,-1em);
}
.modal-toast.bottom {
   bottom:1em;
   transform:translate(-50%,1em);
}
.modal.active .modal-toast {
   transform: translate(-50%,0);
   pointer-events:initial;
}




/* FLOATER */
.floater { position: absolute; }
.floater.right { right: 1em; }
.floater.left { left: 1em; }
.floater.top { top: 1em; }
.floater.bottom { bottom: 1em; }




/* CIRCLE */
.btn-circle {
  display:inline-block;
   background-color:var(--color-white);
   width:3rem;
   height:3rem;
   line-height:3rem;
   text-align:center;
   font-size:1.5em;
   border-radius:2em;
   box-shadow:2px 2px 5px rgba(0,0,0,0.15);
}





.modal-close-floater {
    position: absolute;
}
.modal-close-floater.right {
  right:1em;
}
.modal-close-floater.top {
  top:-1em;
  transform: translateY(-100%);
}






/* Profile */
.user-profile-image {
   position:relative;
}
.user-profile-image>img {
   width:calc(100vmin - 4em);
   height:calc(100vmin - 4em);
   margin:2em;
   border-radius:50%;

   object-fit:cover;
}




/* SETTINGS */
.settings-list {
   list-style-type:none;
   padding:0;
   margin:0;
}
.settings-list a {
   padding: 0.5em 1em;
}
.settings-list li:not(:first-child) {
   border-top: 1px solid var(--color-neutral-medium);
}

.settings-list a {
   display:block;
   position: relative;
}
.settings-list a:not([href='#'])::after {
   position:absolute;
   content:'>';
   top:50%;
   right:1em;
   transform:translateY(-50%);
}






/* truck LIST */
.trucklist-icon img {
   width: 100px;
   height: 80px;
   vertical-align: text-bottom;
   object-fit: cover;
}
.trucklist-item {
   display: flex;
   margin: 1em;
   background-color: #ffffff;
   box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
   border-radius: 1em;
   overflow: hidden;
}
.trucklist-description {
   padding:0.5em;
   flex: 1 1 auto;
}
.trucklist-name {
   font-size:1.2em;
}






#truck-profile-page [data-role='main'] {
    display: flex;
    flex-direction: column;
}
.profile-top {
    height: 30vh;
    flex: none;
    overflow:auto;
    position:relative;
}
.profile-bottom {
    flex: 1;
    position: relative;
    overflow:auto;
}


.truck-profile {
  padding:1em;
}
.truck-profile-image img {
  width:30vw;
  height:30vw;
  object-fit:cover;
}




#recent-drawer .modal-drawer {
  margin:1em;
  width:calc(100% - 2em);
}
.truck-popup img {
  width:80px;
}
.truck-popup h2 {
  margin:0;
}
.truck-popup-description {
  padding:1em;
}









.filter-list {
    display: flex;
    overflow: auto;
}
.filter {
    padding: 0 0.5em;
    font-weight: bold;
    cursor:pointer;
}






.image-uploader input {
   display:none;
}
.image-uploader.full {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background-position:center;
   background-size:contain;
   background-repeat:no-repeat;
}
.image-uploader.thumbnail {
   width:5em;
   height:5em;
   border-radius:0.5em;
   background-position:center;
   background-size:cover;
   position:relative;
   border:2px solid white;
   box-shadow:0 1px 3px rgba(0,0,0,0.2);
}
.image-uploader.thumbnail::before {
   color:black;
   content:'+';
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   vertical-align:middle;
   font-size:3em;
}
.image-uploader.thumbnail.picked::before {
   content:'';
}